body{
    font-family: 'Indie Flower', cursive;
    background-image: url('../img/universe.jpg');
    background: cover;
    display: flex;
    webkit-display: flex;
    moz-display: flex;
    ms-display: flex;
    o-display: flex;
    align-items: center;
    align-items: center;
    webkit-align-items: center;
    moz-align-items: center;
    ms-align-items: center;
    o-align-items: center;
    justify-content: center;
    webkit-justify-content: center;
    moz-justify-content: center;
    ms-justify-content: center;
    o-justify-content: center;
    margin:0;
    padding:0;
    height: 100%;
}
#first{
    display: flex;
    webkit-display: flex;
    moz-display: flex;
    ms-display: flex;
    o-display: flex;
    align-items: center;
    align-items: center;
    webkit-align-items: center;
    moz-align-items: center;
    ms-align-items: center;
    o-align-items: center;
    justify-content: center;
    webkit-justify-content: center;
    moz-justify-content: center;
    ms-justify-content: center;
    o-justify-content: center;
}
#form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    width: 400px;
    background-color: #14141400;
    border: 1px solid #5895da8e;
}
.formula input{
    width: 400px;
    height: 30px;
    margin: 15px 0px;
}
#form img{
    margin: 5px 10px;
}

.submit{
    background-color: #5895da9d;
    color: #a5cdfa;
    height: 30px;
    border:1px solid #5894da;
    border-radius: 5px;
    margin: 7px 0px !important;
}
.submit:hover{
    background-color:#5894da;
    color: #f8f8f8;

}
.ativa{
    background-color: #5895daaf;
    width: 400px;
    height: 80px;
    margin: 10;
    padding: 10px;
    color: white;
    animation-duration: 1s;
    animation-name: ativo;
}
#container{
    flex: 2;
    padding:0px 40px;
    animation-duration: 5s;
    animation-name: text;
}
#container h1,h2,p{
    color:white;
}

@keyframes text{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes ativo{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media only screen and (max-width: 800px){
    body{
        flex-direction: column;
        height: auto;
    }
    #formulario{
        height:400px;
        background-color: #14141400;
        margin: 0px 0px;
    }
    #form{
        margin:5px;
        width: 270px;
    }
    #first{
       flex-direction: column; 
    }
    .formula input{
        width: 270px;
        height: 27px;
        margin: 10px 0px;
    }
    .ativa{
        background-color: #5895daaf;
        width: 270px;
        height: 80px; 
    }
}
