body{
    font-family: 'Indie Flower', cursive;
    background-color: #8fbaec;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#form{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 460px;
    background-color: #e7e7e7;
    border-radius: 10px;
    border: 2px solid #5894da;
}
#form input{
    width: 450px;
}
#form input, img{
    margin: 5px 10px;
}
.submit{
    background-color: #f8f8f8;
    color: #5894da;
    height: 30px;
    border:1px solid #5894da;
    border-radius: 5px;
}
.submit:hover{
    background-color:#5894da;
    color: #f8f8f8;

}
.ativa{
    background-color: #5894da;
    width: 460px;
    height: 80px;
    margin: 10;
    padding: 10px;
    color: white;
    animation-duration: 1s;
    animation-name: ativo;
}
@keyframes ativo{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}